.content-editor * {
  font-family: "Vazir";
}

.content-editor {
  background-color: #e8e3f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: auto;
}

.content-editor menu.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  color: white;
  padding: 0.5rem 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  /* grid-row: 1/2;
  grid-column: 1/-1; */
  width: 100%;
  background-color: #bba1ea;
}

.content-editor .navbar .menu-logo {
  background: none;
  border: none;
  cursor: pointer;
}

.content-editor .navbar .content-name {
  background-color: rgb(255, 255, 255, 0.5);
  margin-left: auto;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: 0.05rem solid transparent;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  width: fit-content;
}

.content-editor .navbar .content-name:hover {
  border: 0.05rem solid black;
}

.content-editor menu.navbar .menu-button {
  border-radius: 999px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border: none;
}

.content-editor .navbar .menu-share {
  background-color: #7f62e0;
  font-size: 1rem;
  /* border-radius: 999px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

.content-editor .navbar .menu-profile {
  background: none;
  border: none;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}

.content-editor .navbar .menu-profile:hover {
  box-shadow: 0 0 0 4px rgb(222, 222, 222, 0.45);
  background-color: rgba(222, 222, 222, 0.4);
  cursor: pointer;
}

.content-editor .navbar .menu-profile img {
  width: 3.2rem;
  outline: 0;
}

/* Share Modal */
.share-modal-overlay {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.content-editor .toolbar {
  position: fixed;
  display: flex;
  top: 3.45rem;
  width: 100%;
  background-color: #f2f2f2;
  /* border-radius: 999px; */
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.content-editor .toolbar button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem 0.5rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  display: flex;
  align-items: center;
}

.content-editor .toolbar button svg {
  margin-left: auto;
  margin-right: auto;
}

.content-editor .toolbar button:hover:not(:disabled) {
  background-color: #e6e6e6;
}

.content-editor .toolbar button:disabled {
  cursor: default;
}
.content-editor .toolbar button:disabled svg path {
  fill: hsl(0, 0%, 40%);
}

.content-editor .toolbar button.active {
  background-color: #cccccc;
}

.content-editor .fix-scrollbar {
  width: 100vw;
  height: 7rem;
  flex-shrink: 0;
}

.content-editor .editor-container {
  /* flex: 1; */
  width: 100vw;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  /* display: flex;
  justify-content: center;
  align-items: start; */
  padding: 1rem 3rem 3rem 3rem;
}
.content-editor .editor-input {
  width: 1020px;
  height: 1320px;
  /* margin: 1rem 3rem 3rem 3rem; */
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  background: #ffffff;
  outline: none;
  font-size: 1.2em;
}

.content-editor .editor-input .editor-text-bold {
  font-weight: bold;
}

.content-editor .editor-input .editor-text-italic {
  font-style: italic;
}

.content-editor .editor-input .editor-text-underline {
  text-decoration: underline;
}

.content-editor .editor-input .editor-text-strikethrough {
  text-decoration: line-through;
}

.content-editor .editor-input .editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.content-editor .editor-input .editor-code {
  color: black;
  padding: 0.15rem;
  background-color: #eee;
  border: 1px solid #ccc;
}

.content-editor .editor-input .editor-highlight {
  background-color: #ffff00;
}
