.content-editor * {
  font-family: "Vazir";
}

.content-editor {
  background-color: #e8e3f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: auto;
}

.content-editor menu.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  color: white;
  padding: 0.5rem 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  /* grid-row: 1/2;
  grid-column: 1/-1; */
  width: 100%;
  background-color: #bba1ea;
}

.content-editor .navbar .menu-logo {
  background: none;
  border: none;
  cursor: pointer;
}

.content-editor .navbar .content-name {
  background-color: rgb(255, 255, 255, 0.5);
  margin-left: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: 0.05rem solid transparent;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  width: fit-content;
}

.content-editor .navbar .content-name:hover {
  border: 0.05rem solid black;
}

.content-editor menu.navbar .menu-button {
  border-radius: 999px;
  padding: 0.35rem 0.4rem;
  cursor: pointer;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #7f62e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .content-editor .navbar .menu-share {
  background-color: #7f62e0;
  font-size: 1rem;
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
} */

.content-editor .navbar .menu-comment {
}

.content-editor .navbar .menu-history {
}

.content-editor .navbar .menu-share {
}

.content-editor .navbar .menu-profile {
  background: none;
  border: none;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.content-editor .navbar .menu-profile:hover {
  box-shadow: 0 0 0 4px rgb(222, 222, 222, 0.45);
  background-color: rgba(222, 222, 222, 0.4);
  cursor: pointer;
}

.content-editor .navbar .menu-profile img {
  width: 3.2rem;
  outline: 0;
}

/* Share Modal */
.share-modal-overlay {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.content-editor .toolbar {
  position: fixed;
  display: flex;
  top: 3.45rem;
  width: 100%;
  background-color: #f2f2f2;
  /* border-radius: 999px; */
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.content-editor .toolbar button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem 0.5rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  display: flex;
  align-items: center;
}

.content-editor .toolbar button svg {
  margin-left: auto;
  margin-right: auto;
}

.content-editor .toolbar button:hover:not(:disabled) {
  background-color: #e6e6e6;
}

.content-editor .toolbar button:disabled {
  cursor: default;
}
.content-editor .toolbar button:disabled svg path {
  fill: hsl(0, 0%, 40%);
}

.content-editor .toolbar button.active {
  background-color: #cccccc;
}

.content-editor .fix-scrollbar {
  width: 100vw;
  height: 7rem;
  flex-shrink: 0;
}

.content-editor .editor-container {
  /* flex: 1; */
  width: 100vw;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  /* display: flex;
  justify-content: center;
  align-items: start; */
  padding: 1rem 3rem 3rem 3rem;
}
.content-editor .editor-input {
  width: 1020px;
  height: 1320px;
  /* margin: 1rem 3rem 3rem 3rem; */
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  background: #ffffff;
  outline: none;
  font-size: 1.2em;
}

.content-editor .editor-input .editor-text-bold {
  font-weight: bold;
}

.content-editor .editor-input .editor-text-italic {
  font-style: italic;
}

.content-editor .editor-input .editor-text-underline {
  text-decoration: underline;
}

.content-editor .editor-input .editor-text-strikethrough {
  text-decoration: line-through;
}

.content-editor .editor-input .editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.content-editor .editor-input .editor-code {
  color: black;
  padding: 0.15rem;
  background-color: #eee;
  border: 1px solid #ccc;
}

.content-editor .editor-input .editor-highlight {
  background-color: #ffff00;
}

.history-modal * {
  font-family: "Vazir";
}
.history-modal.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #e8e3f9;
  z-index: 1000;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: 22rem 1fr;
  grid-template-areas:
    "sidebar-title navbar"
    "sidebar-title toolbar"
    "sidebar-content document";
}

.history-modal .sidebar-header-container {
  grid-area: sidebar-title;
  background-color: #503389;
  height: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-modal .sidebar-title {
  color: white;
}

.history-modal .sidebar-content-container {
  grid-area: sidebar-content;
  background-color: #f5f5f5;
}

.history-modal .sidebar-content-container {
  display: flex;
  flex-direction: column;
  direction: rtl;
  font-family: sans-serif;
  overflow-y: auto;
}

.history-modal .sidebar-content-container .timeline-item {
  padding: 1rem;
  display: grid;
  background-color: transparent;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  position: relative;
  cursor: pointer;
  border: none;
}

.history-modal .sidebar-content-container .timeline-item:hover {
  background-color: hsl(0, 0%, 90%);
}

.history-modal .sidebar-content-container .timeline-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 0.5rem;
}

.history-modal .sidebar-content-container .timeline-circle {
  width: 16px;
  height: 16px;
  border: 2px solid #555;
  border-radius: 50%;
  background-color: white;
}

.history-modal .sidebar-content-container .timeline-circle.selected {
  border-width: 4px;
}

.history-modal .sidebar-content-container .timeline-connector {
  width: 2px;
  flex-grow: 1;
  background-color: #aaa;
  margin-top: 4px;
  height: 100%;
}

.history-modal .sidebar-content-container .timeline-content {
  padding-right: 0.5rem;
}

.history-modal .sidebar-content-container .timeline-header {
  font-weight: bold;
  font-size: 1rem;
  text-align: right;
}

.history-modal .sidebar-content-container .timeline-meta {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
  gap: 0.5rem;
  margin-top: 4px;
}

.history-modal .sidebar-content-container .avatar {
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: min-content;
}

.history-modal .sidebar-content-container .avatar svg {
  height: 1.5rem;
  width: fit-content;
}
.history-modal .sidebar-content-container .avatar path {
  fill: black;
}

.history-modal .sidebar-content-container .dot {
  font-size: 1.2rem;
  margin: 0 0.3rem;
}

.history-modal .sidebar-content-container .timeline-menu {
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 4px;
}

.history-modal .navbar {
  grid-area: navbar;
  background-color: #bba1ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
}

.history-modal .navbar .version-name {
  background-color: rgb(255, 255, 255, 0.5);
  margin-left: auto;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: 0.05rem solid transparent;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  width: fit-content;
}

.history-modal .navbar button.restore {
  background-color: #4f29ce;
  border-radius: 999px;
  color: white;
  padding: 0.4rem 0.8rem;
  border: none;
  outline: none;
}

.history-modal .version-name:hover {
  border: 0.05rem solid black;
}

.history-modal .toolbar {
  grid-area: toolbar;
  background-color: #f2f2f2;
  height: 3rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 1rem;
  gap: 1rem;
}

.history-modal .toolbar button {
  border: none;
  outline: none;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s ease;
}

.history-modal .toolbar button:hover {
  box-shadow: 0 0 0 4px rgba(187, 161, 234, 0.45);
  background-color: rgba(187, 161, 234, 0.4);
  cursor: pointer;
}

.history-modal .document {
  grid-area: document;
  overflow: auto;
}

.history-modal .document .editor-container {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 1rem 3rem 3rem 3rem;
}
.history-modal .document .editor-input {
  cursor: text;
  width: 1020px;
  height: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  background: #ffffff;
  outline: none;
  font-size: 1.2em;
}

.history-modal .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 999px;
}

/* .history-modal .close:hover {
  box-shadow: 0 0 0 4px rgba(80, 51, 137, 0.45);
  background-color: rgba(80, 51, 137, 0.4);
  cursor: pointer;
} */
