.Bakcground { 
    width: 100%;
    height: 45.5rem;
    background-color: #E3D9FF;
}

.Box {
    width: 82%;
    height:38rem;
    background-color: #DCD1FF;
    border-radius: 10px;
    padding: 0.8%;
    position: relative;
    top:7%;
    right:7%;
}

.InnerBox {
    background-color: #C7B5FF;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
}

.detailsContainer {
    width:55%;
    height:100%;
    display: inline-block;
}

.Title {
    position: relative;
    padding-top:7%;
    padding-right:13%;
    color:#FFFFFF;
    z-index: 2;
    font-weight: 700;
    font-size: 21px;
    line-height: 100%;
    height: 10%;
}

.InformationContainer { 
    position: relative;
    padding: 5% 10%;
    width: 80%;
    height: 72%;
}

.infoTitle {
    color : rgba(255, 255, 255, 1);
    font-weight: 100;
    font-size: 14px;
}

.infoContent {
    position: relative;
    top:12%;
    font-size: 16px;
    font-weight: 700;
    color :rgba(255, 255, 255, 1)
}

.formBox {
    width: 45%;
    height:100%;
    background-color: #FFFBFB;
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.loginTitle {
    position: relative;
    top: 10%;
    right:10%;
    font-weight: 700;
    font-size: 18px;
}

.inputsBox {
    position: relative;
    top:20%;
    right:10%;
}

.inputsBoxLabels {
    color:#747275;
    font-weight: 100;
}

.inputField {
    width: 76%;
    padding: 1% 2%;
    font-size: 18px;
    border: 1px solid #EEEDEF;
    border-radius: 10px;
    margin-top: 5px;
}

.inputField:focus {
    outline: none;
}

.password {
    margin-top: 0%;
}

.forgetpasswordlink {
    text-decoration: none;
    color: #C7B5FF;
    font-weight: 100;
}

.submitBtn {
    padding: 1%;
    width: 78%;
    margin-top:60px;
    margin-right: 8px;
    font-family: 'Vazir';
    border: none;
    background-color: #C7B5FF;
    border-radius: 5px;
    color: #FFFBFB;
    font-size: 18px;
}

.noAccLink {
    margin: 1% 26%;
    font-weight: 100;
}

.errors {
    width: 76%;
    border: 1px solid rgb(255, 85, 85);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    background-color: rgb(255, 186, 186);
    color: #FFFFFF;
}