.Bakcground { 
    width: 100%;
    height: 100vh;
    background-color: #E3D9FF;
}

.Box {
    width: 82%;
    height:38rem;
    border-radius: 10px;
    padding: 0.8%;
    position: relative;
    top:7%;
    right:7%;
}

.InnerBox {
    background-color: #C7B5FF;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0.7rem 0.7rem 0.1rem 0 #DCD1FF , -0.7rem -0.7rem 0.1rem 0 #DCD1FF;
}

.detailsContainer {
    width:55%;
    height:100%;
    display: inline-block;
}

.Title {
    position: relative;
    padding-top:7%;
    padding-right:13%;
    color:#FFFFFF;
    z-index: 2;
    font-weight: 700;
    font-size: 21px;
    line-height: 100%;
    height: 10%;
}

.passwordPrequesties , .passwordPrequestiesLogin {
    background-color: #EAE4FF !important;
    color: black !important;
    width: 60% !important;
}

.passwordPrequestiesLogin {
    top:10%;
}

.ImageTitle {
    position: absolute;
    right: 6%;
    top:11%;
}

.InformationContainer { 
    position: relative;
    padding: 5% 10%;
    width: 80%;
    height: 72%;
}

.infoTitle {
    color : rgba(255, 255, 255, 1);
    font-weight: 100;
    font-size: 14px;
}

.infoContent {
    position: relative;
    top:12%;
    font-size: 16px;
    font-weight: 700;
    color :rgba(255, 255, 255, 1);
}

.formBox {
    width: 45%;
    height:100%;
    background-color: #FFFBFB;
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.loginTitle {
    position: relative;
    top: 10%;
    right:10%;
    font-weight: 700;
    font-size: 18px;
}

.inputsBox {
    position: relative;
    top:20%;
    right:10%;
}

.inputsBoxLabels {
    color:#747275;
    font-weight: 100;
}

.inputField {
    width: 76%;
    padding: 1% 2%;
    font-size: 18px;
    border: 1px solid #EEEDEF;
    border-radius: 10px;
    margin-top: 5px;
}

.inputFieldError {
    width: 76%;
    padding: 1% 2%;
    font-size: 18px;
    border: 2px solid #e61515;
    border-radius: 10px;
    margin-top: 5px;
}

.inputField:focus {
    outline: none;
}

.forgetpasswordlink {
    text-decoration: none;
    color: #C7B5FF;
    font-weight: 100;
}

.submitBtn {
    padding: 1%;
    width: 78%;
    margin-top:60px;
    margin-right: 8px;
    font-family: 'Vazir';
    border: none;
    background-color: #C7B5FF;
    border-radius: 5px;
    color: #FFFBFB;
    font-size: 18px;
}

button {
    cursor: pointer;
}

.noAccLink {
    margin: 3% 26%;
    font-weight: 100;
}

.errors {
    background-color: rgb(255, 99, 99) !important;
    color: #FFFFFF !important;
}

.resend {
    margin-top: 2%;
    margin-right: 2% ;
    text-decoration: none;
    color: #C7B5FF;
    font-weight: 100;
    display: block;
    cursor: pointer;
    
}

.loaderContainer {
    position: fixed;
    width: 82%;
    height: 80%;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
*:focus {
    outline: none; /* temp fix to infoIcon focus outline problem*/
}

.passwordInputWrapper {
    position: relative;
    width: 100%;
  }
  
.togglePasswordButton {
  position: absolute;
  right: 73%;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: #D4D4D4;
}

.passwordIcon {
  width: 20px;
  height: 20px;
}

.infoIcon {
  color: #D4D4D4;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}