.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--accent-gold);
}

.navbar-logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar-logo-image {
    width: 50px;
}

.navbar-menu-toggle {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--accent-gold);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--accent-gold);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--accent-gold);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-theme-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--accent-gold);
  padding: 4px;
}


@media screen and (max-width: 768px) {
  .navbar-menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: 1rem;
    background-color: inherit;
    padding: 1rem;
    border: 1px solid var(--accent-gold);
    border-radius: 8px;
    gap: 1rem;
  }

  .nav-links.open {
    display: flex;
  }
}
